$mainColor : #6cd2a9;
/* General */
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

body{
  font-family: 'Uchen', serif;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color : inherit;
}

/* Layout */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.l_header{
  display: flex;
  justify-content: space-between;
  padding: 50px 20px !important;
}

.l_footer{
  display: flex;
  justify-content: center;
  width: 100%;
}

.l_main{
  flex-grow: 1;
  padding: 20px;
}

/* Module */
.header{
  &__title{
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__nav{


    &__wrapper{
      display: flex;
      justify-content: flex-end;
      gap: 30px;
    }
    &__item{

    }
  }
}

.wish{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  h2{
    margin:0;
  }

  &__item{
    padding: 10px;
    border-radius: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $mainColor;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 10px;

    &__info{
      align-self: flex-end;
    }

    a{
      font-weight: bold;
      border: 3px black solid;
      padding: 5px 20px;
      transition-duration: 0.5s;
      text-align: center;
      align-self: flex-end;
      width: 200px;

      &:hover{
        background-color: white;
        transition-duration: 0.5s;
      }
    }
  }
}

.add_wish{
  max-width: 800px;

  input, textarea{
    width: 100%;
  }

  textarea{
    height: 200px;
  }

  select{
    width: 100%;
  }

  button{
    border: 3px black solid;
    background-color: $mainColor;
    font-weight: bold;
    transition-duration: 0.5s;
    padding: 5px 10px;
    width: 100%;

    &:hover{
      background-color: white;
      transition-duration: 0.5s;
    }
  }
}

.flash-success{
    margin: 20px;
    padding: 20px 50px;
    background-color: $mainColor;
    border: 3px black solid;
    border-radius: 20px;
    font-weight: bold;
  }

/* Theme */
.l_header{
  background-color: $mainColor;
}

.l_footer{
  background-color: $mainColor;
}

.l_main{

}