{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Detail
{% endblock %}

{% block body %}
    <h1>Detail of a wish</h1>
    {# todo : afficher le detail d'un souhait #}
{% endblock %}

