{% extends 'base.html.twig' %}

{% block body %}
    {# todo : afficher la liste des souhaits #}
    <h1>Wish List</h1>
    <p>Oh wait is not implemented yet ! come back later ;)</p>
{% endblock %}

{% block title %}
    {{ parent() }} Wish List
{% endblock %}

