{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Erreur 403
{% endblock %}

{% block body %}
    <h1>Erreur 403</h1>
    <p>Oops, vous n'avez pas les autorisation pour consulter cette page</p>
{% endblock %}